$primary: #100070;
@mixin link(){
    display: inline-block;
    padding: 12px 18px;
    border: 2px solid $primary;
    color: $primary;
    border-radius: 12px;
}
@mixin tit(){
    width: 400px     ;
    border: 1px solid #200490;
    padding: 20px;
    border-radius: 15px;
    background: #200490 ;
    color: white;
    margin-left: auto;
}
.cards{
    width:600px ;
    border-radius: 20px;
       border: 2px solid #505071;
   .card{
    padding: 30px;
    &-header{
        @include tit();
    }
    &-footer{
    .link-more{
      @include link();
    } 
   }
   }
   
}